<div class="navbar">
    <header>
        <nav>
            <a href="/home"><h1>College Junction</h1></a>
            <ul>
                <a href="/home"><li>Home</li></a>
                <a href=""><li>Categories</li></a>
                <a href=""><li>About Us</li></a>
                <a href=""><li>Profile</li></a>
                <a href="/review"><button>Write review</button></a>
            </ul>
        </nav>
    </header>
</div>
<hr>
<link rel="stylesheet" href="/static/css/style.css">