<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>College Junction</title>
</head>

<body>
    {%include '/components/navbar/index.html'%}
    <!-- Hero Section -->
    <div class="herosection">
        <div class="hero">
            <h1>Your ultimate college review destination. <br> Write.Read.Connect</h1>
            <div class="search-container">
                <input type="search" placeholder="Write college name">
                <button>Search</button>
            </div>
        </div>
    </div>
    <!-- Categories -->

    <div class="categ">
        <h1>Categories</h1>
        <div class="categories-container">
            <div class="category-box"><i class="fas fa-university"></i> University</div>
            <div class="category-box"><i class="fas fa-home"></i> Housing</div>
            <div class="category-box"><i class="fas fa-utensils"></i> Food and Dining</div>
            <div class="category-box"><i class="fas fa-futbol"></i> Sports</div>
            <div class="category-box"><i class="fas fa-book"></i> Academics</div>
            <div class="category-box"><i class="fas fa-hand-holding-usd"></i> Financial Aid</div>
            <div class="category-box"><i class="fas fa-chair"></i> Furniture Stores</div>
            <div class="category-box"><i class="fas fa-landmark"></i> Banking</div>
        </div>
    </div>

    <!-- Recent Review -->

    <div class="review">
        <h1>Categories</h1>
        <div class="review-container">
           <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
                <div class="upper-review">
                    <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                        <h1 class="star"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star black"></span>
                            <span class="fa fa-star black"></span>
                        </h1>
                </div>
                <div class="middle-review">
                    <h3>college</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
                </div>
                <hr>
                <div class="lower-review">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                        dolorum vitae laborum unde ipsa, sequi nostrum.</p>
                </div>
            </div></a>
        </div>
        <center>
            <a href="/clgrev"><button class="readmore">Read More Review</button></a>
        </center>
    </div>

    {%include '/components/footer/index.html'%}
</body>

</html>