<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>College Junction</title>
</head>
<body>
    <div class="navbar">
        <header style="background-color: white; color: black;">
            <nav>
                <h1>College Junction</h1>
                <ul>
                    <a href="/login"><button style="background-color: black; color: white; border-radius: 33px;">Get Started</button></a>
                </ul>
            </nav>
        </header>
    </div>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Hero Section -->
    <div class="mainhero" style="background-color: white; color: black;">
        <div class="hero_left">
            <h2>Discover colleges <br>& Share your</h2>
            <p>Find an review colleges for your future.</p>
            <a href="/login"><button style="background-color: black; color: white;">Get Started</button></a>
        </div>
        <div class="hero_right">
            <img src="/static/images/college.jpeg" alt="">
        </div>
    </div>

    <div class="lowerbody">
        <p>Share your college experience and help others make informed decisions.</p>
    </div>

    {%include '/components/footer/index.html'%}
</body>
</html>