<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>College Junction</title>
</head>
<body>
    <div class="navbar">
        <header>
            <nav>
                <h1>College Junction</h1>
                <ul>
                    <li>Home</li>
                    <li>Categories</li>
                    <li>About Us</li>
                    <li>Profile</li>
                    <button>Write review</button>
                </ul>
            </nav>
        </header>
    </div>
    <!-- Hero Section -->
    <div class="herosection">
        <div class="hero">
            <h1>Your ultimate college review destination. <br> Write.Read.Connect</h1>
            <div class="search-container">
                <input type="search" placeholder="Write college name">
                <button>Search</button>
            </div>
        </div>
    </div>
    <!-- Categories -->

    <div class="categ">
        <h1>Categories</h1>
        <div class="categories-container">
            <div class="category-box"><i class="fas fa-university"></i> University</div>
            <div class="category-box"><i class="fas fa-home"></i> Housing</div>
            <div class="category-box"><i class="fas fa-utensils"></i> Food and Dining</div>
            <div class="category-box"><i class="fas fa-futbol"></i> Sports</div>
            <div class="category-box"><i class="fas fa-book"></i> Academics</div>
            <div class="category-box"><i class="fas fa-hand-holding-usd"></i> Financial Aid</div>
            <div class="category-box"><i class="fas fa-chair"></i> Furniture Stores</div>
            <div class="category-box"><i class="fas fa-landmark"></i> Banking</div>
        </div>
    </div>
</body>
</html>