<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>College Junction | Review</title>
</head>
<body>
  {%include '/components/navbar/index.html'%}

  <div class="review">
    <center><h1>Colleges</h1></center>
    <div class="review-container">
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
       <a style="text-decoration: none;" href="/mainclg"><div class="review-box">
            <div class="upper-review">
                <img src="https://images.shiksha.com/mediadata/images/1493195071phpJiULet.jpeg" alt="">
                    <h1 class="star"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star black"></span>
                        <span class="fa fa-star black"></span>
                    </h1>
            </div>
            <div class="middle-review">
                <h3>college</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus.</p>
            </div>
            <hr>
            <div class="lower-review">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque deserunt architecto quo
                    dolorum vitae laborum unde ipsa, sequi nostrum.</p>
            </div>
        </div></a>
    </div>
</div>
  {%include '/components/footer/index.html'%}

</body>
</html>